.contactus_col #map{
    border-radius: 0px!important;
    border-bottom-right-radius: 50px!important;
}
.contactus_col_ar #map{
    border-radius: 0px;
    border-top-left-radius: 50px!important;
}

.contactus_col_ar .contactus-form-responsive{
    border-top-right-radius: 0px!important;
    border-bottom-right-radius: 50px!important;
}

@media only screen and (max-width: 991px) {
    .contactus_col{
        flex-direction: column !important;
    }
    .contactus_col_ar{
        flex-direction: column-reverse!important;
    }
    .contactus_col .contactus-form-responsive, .contactus_col_ar .contactus-form-responsive{
        width: 100%!important;
        padding: 2.5rem!important;
    }
    .contactus_col .contactus-map-responsive{
        display: block !important;
        width: 100%!important;
        height: 450px!important;
        border-radius: 0px!important;
    }
    .contactus_col_ar .contactus-ar-map-responsive{
        display: block !important;
        width: 100%!important;
        height: 450px!important;
    }
}